* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: radial-gradient(circle, rgba(238,216,174,0.9389005602240896) 0%, rgba(140,92,40,1) 100%);
}

header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #d5c8b1;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.circle {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.circle >div {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
}

.blue {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 10px;
}

input  {
    margin-right: 40px;
    width: 80px;
    height: 80px;
    background-color: rgb(179, 131, 20);
    border-radius: 50%;
    border: 5px solid black;
}

input:hover {
    cursor: pointer;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 3px brown;
    font-size: 30px;
    margin-bottom: 8px;
}


.pillar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.pillar:hover  {
    cursor: pointer;
}


.small {
    margin-right: 10px;
    margin-top: 25px;
    padding: 10px;
    line-height: 30px;
    width: 30px;
    height: 50px;
    background-color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.middle {
    margin-right: 10px;
    margin-top:  10px;
    line-height: 60px;
    padding: 10px;
    width: 30px;
    height: 80px;
    background: radial-gradient(circle, rgba(158,200,102,1) 46%, rgba(87,140,40,1) 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.large {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 30px;
    padding: 10px;
    line-height: 80px;
    width: 30px;
    height: 100px;
    background-color: beige;
}


main  {
     width: 70%;
     height: 500px;
     margin: 0 auto;
     background-color: rgb(183, 162, 162);
     position: relative;
     display: flex;
     justify-content: center;
}

.black {
    display: flex;
    justify-content: center;
    position: relative;
}

.div1 {
    width: 400px;
    height: 40px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div2 {
    background-color: black;
    height: 70px;
    width: 300px;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div3 {
    background-color: black;
    height: 100px;
    width: 90px;
    z-index: 2;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.coffee {
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 40px;
    background-color: rgb(110, 54, 26);
    
    
    animation-name: letCoffeeBe;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}   

.cup {  
    background-color: tan;
    box-shadow: 1px 1px 5px black;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;  
    border-top: double;
    left: 0;
    transform: translate(-50%);

    animation-name: cupAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;


}

.handle {
    position: absolute;
    z-index: 1;
    right: -50px;
    top: 10px;
    width: 120px;
    height: 150px;
    border: 25px solid rgb(26, 25, 25);
    border-left: 28px solid transparent;
    border-bottom: 45px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
}

.table {
    background-color: black;
    margin:0 auto ;
    width: 80%;
    height: 50px;
    border-radius: 80px;
}

footer {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px ;
    background-color: #d5c8b1;
    width: 90%;
    height: 50px;
    margin: 0 auto;
}


@keyframes letCoffeeBe {
    from {
        top: 70px;
        width: 40px;
        height: 30px;
    }
    to {   
        height: 200px;
        top: 300px;
        width: 20px;
    }
}

@keyframes cupAnimation {
    from{       
        left: 0;
    }
    to {    
        left: 50%;
        /* transform: translate(-50%); */
    }
}


/* mejtexi hamar position left50% heto transform translate-50% */